 * {
     margin:0;
     padding:0;
     box-sizing:border-box;
 }

/* body {
     background: #8b38f7 100%; 
} */
/* .wrapper {
    color:red;
} */
html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}

.first-clock {
    height:200px;
    width:600px;
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    /* transform: translate(-50%, -50%); */
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.05em;
    font-size: 40px;
    position:absolute;
    right:0; 

}
.Usa {
    color:blue;
    padding:30px;
}

