.second-clock {
  height:200px;
  width:600px;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  letter-spacing: 0.05em;
  font-size: 40px;
  margin-top:100px;
  margin-left:50px;
  /* აი აქ მხოლოდ ამ კლასს second-clock ს რომ ვუწერ მარგინს მოქმედებს ორივეზე და რატომ ?
  და ვერც გავცენტრე ვერანაირად და display:flex ს რომ ვიყენებ ურევს ყველაფერი და როგორ გავასწორო ეგ */



}

.Georgia {
  color:blue;
  padding-top:30px;
  padding-left:80px; /*da ramdenad sworia amxela paddingis gawera ubralo h1 georgiaze */
}

